{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogtags list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogTag in blogTags %}
            <tr>
                <td><a href="{{ path('blogtag_show', { 'id': blogTag.id }) }}">{{ blogTag.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blogtag_show', { 'id': blogTag.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blogtag_edit', { 'id': blogTag.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogtag_new') }}">Create a new blogTag</a>
        </li>
    </ul>
{% endblock %}
