{% extends 'adminbase.html.twig' %}


{% block stylesheets %}

    <link href="{{ asset ('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset ('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Accueil</a>
        </li>
        <li class="breadcrumb-item active">Réclamations</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>Les réclamations</div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Objet</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Opérations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for r in reclamations %}
                        <tr>
                            <td>{{ r.User.username }}</td>
                            <td>{{ r.objet }}</td>
                            <td>{{ r.description }}</td>
                            <td>{{ r.date|date }}</td>
                            <td><a href="{{ path('admin_approuver_reclamation',{'id':r.id}) }}" ><span class="label label-danger">Approuver</span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>







{% endblock %}