{% extends 'adminbase.html.twig' %}

{% block body %}
    <h1>Blogcategories list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogCategorie in blogCategories %}
            <tr>
                <td><a href="{{ path('blogcategorie_show', { 'id': blogCategorie.id }) }}">{{ blogCategorie.id }}</a></td>
                <td>{{ blogCategorie.name }}</td>
                <td>{{ blogCategorie.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blogcategorie_show', { 'id': blogCategorie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blogcategorie_edit', { 'id': blogCategorie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogcategorie_new') }}">Create a new blogCategorie</a>
        </li>
    </ul>
{% endblock %}
