{% extends 'adminbase.html.twig' %}

{% block body %}
    <div id="page-content">
        <div class="row">
            <div class="eq-height">
                <div class="col-sm-6 eq-box-sm">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-control">
                                <a class="btn btn-success" href="{{ path('categorieifixit_index') }}">Back to the list</a>
                            </div>
                            <h3 class="panel-title">Edit Category</h3>
                        </div>

                        {{ form_start(edit_form, {'attr':{'class':'form-horizontal' }}) }}
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">{{ form_label(edit_form.type) }}</label>
                                <div class="col-sm-9">
                                    {{ form_widget(edit_form.type,{'attr':{'class':'form-control' }}) }}
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <input class="btn btn-info" type="submit" value="Edit" />
                            </div>
                            {{ form_end(edit_form) }}

                            {{ form_start(delete_form) }}
                             <div class="panel-footer text-right">
                            <input class="btn btn-danger" type="submit" value="Delete">
                             </div>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

