{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reaction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reaction.id }}</td>
            </tr>
            <tr>
                <th>Likeblog</th>
                <td>{{ reaction.likeBlog }}</td>
            </tr>
            <tr>
                <th>Dislikeblog</th>
                <td>{{ reaction.dislikeBlog }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reaction_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reaction_edit', { 'id': reaction.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
