{% extends 'adminbase.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
    <h1>{{ blog.title }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-warning" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('blog_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
