<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

            <link href="{{ asset ('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
            <!-- Custom Theme files -->
            <!--theme style-->
            <link href="{{ asset ('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
            <script src="{{ asset ('js/jquery.min.js')}}"></script>

            <!--//theme style-->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <!-- start menu -->
            <script src="{{ asset ('js/simpleCart.min.js')}}"> </script>
            <!-- start menu -->
            <link href="{{ asset ('css/memenu.css') }}" rel="stylesheet" type="text/css" media="all" />
            <script type="text/javascript" src="{{ asset ('js/memenu.js') }}"></script>
            <script>$(document).ready(function(){$(".memenu").memenu();});</script>
            <script src="{{ asset ('js/responsiveslides.min.js') }}"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: false,
                    });
                });
            </script>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>

    <!--header-->


    <div class="header-top">
        <div class="header-bottom">
            <div class="logo">
                <h1><a href="{{path('liste_document')  }}">Esprit</a></h1>
            </div>
            <!---->
            <div class="top-nav">
                <ul class="memenu skyblue">

                    <li class="grid"><a href="{{ path('liste_document') }}">Docs</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Documents</h4>
                                    <ul>
                                        <li><a href="{{path('liste_document')  }}">Liste des documents</a></li>
                                        <li><a href="{{path('liste_attente_document')  }}">mes docs en attente</a></li>
                                        <li><a href="{{path('partager_document')  }}">partager un doc</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="{{path('event_homepage')}}" _target="blank">events</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Evénements</h4>
                                    <ul>
                                        <li><a href="{{ path('lister_event') }}">liste des événements</a></li>
                                        <li><a href="{{ path('my_events') }}">Mes événements</a></li>
                                        <li><a href="product.html">Mes réservations</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Activités</h4>
                                    <ul>
                                        <li><a href="{{ path('lister_event') }}">liste des événements</a></li>
                                        <li><a href="{{ path('my_events') }}">Mes événements</a></li>
                                        <li><a href="product.html">Mes réservations</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Galleries</h4>
                                    <ul>
                                        <li><a href="{{ path('lister_event') }}">liste des événements</a></li>
                                        <li><a href="{{ path('my_events') }}">Mes événements</a></li>
                                        <li><a href="product.html">Mes réservations</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#">Coloc</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Colocation</h4>
                                    <ul>
                                        <li><a href="{{path('ajout_colocation')  }}">Ajouter colocation</a></li>
                                        <li><a href="{{path('affich_colocation')  }}">Liste des colocation</a></li>
                                        <li><a href="{{path('affich_demande')  }}">Liste des demandes</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid" ><a href="{{ path('accueil_topics') }}">Covoiturage</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Covoiturage</h4>
                                    <ul>
                                        <li><a href="{{path('covoiturage_Ajouter')  }}">Ajouter un covoiturqge</a></li>
                                        <li><a href="{{path('covoiturage_Lister')  }}">Liste des covoiturage</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="{{ path('accueil_topics') }}">Forum</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Topics</h4>
                                    <ul>
                                        <li><a href="{{path('afficher_topics')  }}">Liste des topics</a></li>
                                        <li><a href="{{path('ajouter_topic')  }}">Publier un topic</a></li>
                                        <li><a href="{{path('afficher_mes_topics')  }}">Gérer mes topics</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Réclamations</h4>
                                    <ul>
                                        <li><a href="{{ path('consulter_reclamation') }}">Consultation</a></li>
                                        <li><a href="{{ path('ajouter_reclamation') }}">Réclamer</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>                </ul>
            </div>
            <!---->
            <div class="cart box_1">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p><a href="{{ path ('fos_user_profile_show') }}" class="glyphicon glyphicon-user"> {{ app.user.username }} </a></p>
                {% else %}
                    <p><a href="{{ path ('fos_user_security_login') }}" class="glyphicon glyphicon-user">   S'authentifier</a></p>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <p><a href="{{ path ('liste_documentAdmin') }}" >   Espace Admin</a></p>
                {% endif %}

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <!---->
        </div>
        <div class="clearfix"> </div>
    </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 about-us">
                    <h3>About Us</h3>
                    <p>Maecenas nec auctor sem. Vivamus porttitor tincidunt elementum nisi a, euismod rhoncus urna. Curabitur scelerisque vulputate arcu eu pulvinar. Fusce vel neque diam</p>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3>Information</h3>
                    <ul class="nav-bottom">
                        <li><a href="#">Track Order</a></li>
                        <li><a href="#">New Products</a></li>
                        <li><a href="#">Location</a></li>
                        <li><a href="#">Our Stores</a></li>
                        <li><a href="#">Best Sellers</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3>More Info</h3>
                    <ul class="nav-bottom">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Membership</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h3>Categories</h3>
                    <ul class="nav-bottom">
                        <li><a href="#">Car Lights</a></li>
                        <li><a href="#">LED Lights</a></li>
                        <li><a href="#">Decorates</a></li>
                        <li><a href="#">Wall Lights</a></li>
                        <li><a href="#">Protectors</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="copywrite">
        <div class="container">
            <div class="copy">
                <p>© 2015 Lighting. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <div class="social">
                <a href="#"><i class="facebook"></i></a>
                <a href="#"><i class="twitter"></i></a>
                <a href="#"><i class="dribble"></i></a>
                <a href="#"><i class="google"></i></a>
                <a href="#"><i class="youtube"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->

    </body>
</html>
