{% extends 'base.html.twig' %}

{% block body %}
    <h1>Newslettertemplate</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsLetterTemplate.id }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ newsLetterTemplate.template }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('newslettertemplate_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('newslettertemplate_edit', { 'id': newsLetterTemplate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
